<tr>
  <td><%= bebida.nombre %></td>
  <td><%= bebida.tipo %></td>
  <td><%= bebida.tamanio %></td>
  <td><%= bebida.precio %></td>
  <td>
    <%= link_to 'Edit', edit_bebida_path(bebida), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Delete',
                bebida,
                method: :delete,
                class: 'btn btn-danger btn-sm',
                data: { confirm: 'Esta seguro de eliminar esta bebida?' } %>
  </td>
</tr>