<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @bebida.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @bebida.tipo %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @bebida.tamanio %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @bebida.precio %>
</p>

<%= link_to 'Editar', edit_bebida_path(@bebida) %> |
<%= link_to 'Volver', bebidas_path %>
