<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @menu.fecha %>
</p>
<p>
  <strong>Productos:</strong>
  <% @menu.productos %>
</p>

<% @menu.productos.each do |producto| %>
  <p><%= link_to producto.nombre, producto %></p>
<%end%>

<div class="btn-group-vertical">
<%= link_to 'Editar', edit_menu_path(@menu) , class: 'btn btn-default' %>
<%= link_to 'Volver', menus_path , class: 'btn btn-info' %>
</div>