<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @menu.fecha %>
</p>
<p>
  <strong>Producto:</strong>
  <%= @menu.producto.nombre if @menu.producto%>
</p>
<div class="btn-group-vertical">
<%= link_to 'Editar', edit_menu_path(@menu) %> |
<%= link_to 'Volver', menus_path %>
</div>