
<%= form_for(tipo) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% tipo.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>

      <div class="panel-body form-group">
        <p><%= f.label :nombre %></p>
        <%= f.text_field :nombre, class: 'form-control' %>
      </div>
      <div class="panel-body form-group">
        <p><%= f.label :descripcion %></p>
    <%= f.text_area :descripcion, class: 'form-control' %>
      </div>

    <div class="panel-footer text-right">
      <%= link_to 'Cancelar', tipos_path, class: 'btn btn-default btn-sm'  %>
      <%= f.submit "Guardar Tipo", class: 'btn btn-default btn-sm' %>
    </div>
  </div>
<% end %>