<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo.descripcion %>
</p>

<%= link_to 'Editar', edit_tipo_path(@tipo) %> |
<%= link_to 'Volver', tipos_path %>
