<%= form_for(producto) do |f| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2>Tenemos <%= pluralize(producto.errors.count, "error") %>, no se puede guardar este producto:</h2>

      <ul>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :tipo_id %>
    <%= f.select :tipo_id,  Tipo.all.collect {|t| [ t.nombre, t.id ] }, { include_blank: 'Seleccionar Tipo de Producto' } %>
  </div>
  <div class="field">
    <%= f.label :precio %>
    <%= f.number_field :precio, :step => "0.5", min: 0 %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar Producto" %>
  </div>
<% end %>
