<tr>
  <td><%= producto.nombre %></td>
  <td><%= producto.descripcion %></td>
  <td><%= producto.tipo.nombre %></td>
  <td><%= producto.precio %></td>
  <td>
    <%= link_to 'Editar', edit_producto_path(producto), class: 'btn btn-default btn-sm' %>
    <%= link_to 'Eliminar',
                producto,
                method: :delete,
                class: 'btn btn-warning btn-sm',
                data: { confirm: 'Esta seguro de eliminar este producto?' } %>
  </td>
</tr>