<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>
<p>
  <strong>Tipo de producto:</strong>
  <%= @producto.tipo.nombre if @producto.tipo%>
</p>
<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>
<div class="btn-group-vertical">
<%= link_to 'Editar', edit_producto_path(@producto), class: 'btn btn-default' %> 
<%= link_to 'Volver', productos_path, class: 'btn btn-info' %>
</div>

