<tr>
  <td><%= usuario.ci %></td>
  <td><%= usuario.nombres %></td>
  <td><%= usuario.apellidos %></td>
  <td><%= usuario.empresa.nombre if usuario.empresa %></td>
  <td>
  <div class="btn-group">
    <%= link_to '', usuario, class: 'btn btn-success btn-sm glyphicon glyphicon-eye-open', :title => "Ver"'' %>
    <%= link_to '', edit_usuario_path(usuario), class: 'btn btn-default btn-sm glyphicon glyphicon-pencil', :title => "Editar" %>
    <%= link_to '',
                usuario,
                method: :delete,
                class: 'btn btn-warning btn-sm glyphicon glyphicon-remove',
                data: { confirm: 'Esta seguro de eliminar este Usuario?' }, :title => "Eliminar" %>
  </div>
  </td>
</tr>