<%= form_for(franja) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <% franja.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>

      <div class="panel-body form-group">
        <p><%= f.label "Primera franja, sueldos hasta: " %></p>
        <%= f.number_field :primera_hasta,min:0, class: 'form-control' %>
      </div>
      <div class="panel-body form-group">
        <p><%= f.label "Valor del ticket primera franja: " %></p>
        <%= f.number_field :primera_precio, min:0, class: 'form-control' %>
      </div>
      <div class="panel-body form-group">
      <p><%= f.label "Segunda franja, sueldos hasta: " %></p>
      <%= f.number_field :segunda_hasta, min:0, class: 'form-control' %>
  </div>
  
  <div class="panel-body form-group">
    <p><%= f.label "Valor del ticket segunda franja: " %></p>
    <%= f.number_field :segunda_precio, min:0, class: 'form-control' %>
  </div>
    <div class="panel-body form-group">
    <p><%= f.label "Valor del ticket para sueldos mayores: " %></p>
    <%= f.number_field :tercera_precio, min:0, class: 'form-control' %>
  </div>
  </br>
    <div class="panel-footer text-right">
      <%= link_to 'Cancelar', franjas_path, class: 'btn btn-default btn-sm'  %>
      <%= f.submit "Guardar Franja", class: 'btn btn-default btn-sm' %>
    </div>
  </div>
<% end %>



